# **Lab 0: An introduction to Python for scientific computing**

Small modification of original material from https://ei.uni-paderborn.de/lea/lehre/veranstaltungen/lehrangebote/reinforcement-learning

## 0.1 Common Libraries
* Numpy (Vector and Matrix operations, Numeric computing)
* Matplotlib (Plotting)
* Pandas (Table operations)
* Scikit-Learn (Machine Learning)
* Tensorflow / PyTorch (Neural Networks)
* Seaborn (Advanced Plotting)

*Notebooks*: a mixed between text with heading, lists, etc; formulae and (executable) code

## 0.2 Jupyter notebooks (format .ipynb)

They can be run locally in your computer: https://www.anaconda.com
Or through the use of Google Colab.

Documentation: https://jupyter-notebook.readthedocs.io/en/stable/

Introduction to Jupyter Notebooks: [Youtube Video](https://www.youtube.com/embed/q_BzsPxwLOE)

# I Heading

This is a markdown cell. (Double click on them to modify them)

## I.1 Sub-heading

### I.1.1 Sub-sub-heading

#### I.1.1.1 Sub-sub-sub-Heading

### Enumeration

* first point
* second point
* third point

### Table

| a | b | c |
|---|---|---|
|entry a|entry b|entry c|

$\log(f(x))$

# 0.2 Overview of Python

### Shortcuts for notebooks

Shortcut | Command
--- | ---
Shift+Tab | Open Help
Shift+Enter | Run cell and select next cell
Alt+Enter | Run cell and insert cell below
Strg+# | Convert marked lines into comments
a | Insert cell above marked cell
b | Insert cell below marked cell

### Datatypes

In [ ]:
integer = 6
floatingpoint = 1.5
string2 = "ab'sj"
string3 = '''absj'''
string4 = """absj"""

print('value:' + str(integer))
print(f'value: {integer}')  # useful way of using print function, that can be implemented on loops where variables are constantly changing values

value:6
value: 6

### Aritmethmetic Operations

In [ ]:
1 + 1
2 - 1
#2 ** 2   # 2 to the power of 2 = 2 squared   
#  on numoy, the code would be    numpy.pow(2,2)
#10_000
#2*10e4
#1*10**4
#41/2
#40//2

1

### Collections

In [ ]:
# List

l = [integer, '123', [1, 2, 3,4 ], 1 + 1j]
print(l)

[6, '123', [1, 2, 3, 4], (1+1j)]

In [ ]:
l.append(9)
l

[6, '123', [1, 2, 3, 4], (1+1j), 9]

In [ ]:
m = [30, 40]
l.extend(m)
l

[6, '123', [1, 2, 3, 4], (1+1j), 9, 30, 40]

In [ ]:
# Indexing and Slicing

print(l[0])
print(l[-1])
print(l[0:-1]) # start from the begining, do not include last element
print(l[0:-1:2]) # start from the begining, do not include last element, but every 2 elements
print(l[::2])

6
40
[6, '123', [1, 2, 3, 4], (1+1j), 9, 30]
[6, [1, 2, 3, 4], 9]
[6, [1, 2, 3, 4], 9, 40]

In [ ]:
# Tuple
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [ ]:
# Collection operations (Be careful):
t2  = (9, 8, 7)
print(t + t2)
print(t * 3) # Can you explain what happen on this case?

(1, 2, 3, 9, 8, 7)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# Dictionary
dictionary = {
    'a': 1,
    2: 'b',
    'c': 3,
}
dictionary

{'a': 1, 2: 'b', 'c': 3}

In [ ]:
dictionary[2]

'b'

In [ ]:
dictionary.keys()

dict_keys(['a', 2, 'c'])

In [ ]:
dictionary.values()

dict_values([1, 'b', 3])

In [ ]:
dictionary.items()

dict_items([('a', 1), (2, 'b'), ('c', 3)])

In [ ]:
dictionary = {}

* [**values( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function returns a list with all the assigned values in the dictionary. (Actually not quite a list, but something that we can iterate over just like a list to construct a list, tuple or any other collection)
* [**keys( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function returns all the index or the keys to which contains the values that it was assigned to.
* [**items( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used - except that the ordering has been 'shuffled' by the dictionary.
* [**pop( )**](https://docs.python.org/3.6/library/stdtypes.html?highlight=set%20union#mapping-types-dict) function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

### Conditionals

In [ ]:
a = 16
if a <= 2:
    b = 2
elif a < 10:
    b = 3
else:
    b = 4
b

4

In [ ]:
if (a == 2) and (b == 3):
    c = 3

### Loops

In [ ]:
l = list(range(5))
l2 = []
for entry in l:
    print(entry ** 2)
    l2.append(entry ** 2)

for index in range(len(l)):
    print(l[index] ** 2)
    l2.append(l[index] ** 2)
    
for index, entry in enumerate(l):
    print(entry ** 2)
    l2.append(entry ** 2)
    
print(l2)
    
l

0
1
4
9
16
0
1
4
9
16
0
1
4
9
16
[0, 1, 4, 9, 16, 0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

[0, 1, 2, 3, 4]

### [Functions](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

In [ ]:
def sub(a_val, b_val):
    """Calculate a - b"""
    return a_val - b_val

a = 2
b = 1

print(sub(a, b))
print(sub(b, a))
print(sub(b_val=b, a_val=a))
print(sub(a_val=a, b_val=b))

1
-1
1
1

* [Return Statement](https://docs.python.org/3/reference/simple_stmts.html#grammar-token-return_stmt) : When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, a return statement is used.
* [Default arguments](https://docs.python.org/3/tutorial/controlflow.html#default-argument-values): When an argument of a function is common in majority of the cases this can be specified with a default value. This is also called an implicit argument.

In [ ]:
def implicitadd(x,y=3,z=0):
    print("%d + %d + %d = %d"%(x,y,z,x+y+z))
    return x+y+z

In [ ]:
implicitadd(5)

5 + 3 + 0 = 8

8

* [Any number of arguments](https://docs.python.org/3/tutorial/controlflow.html#arbitrary-argument-lists): If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the name of the argument to hold the remainder of the arguments. The following function requires at least one argument but can have many more.

In [ ]:
def add_n(first,*args):
    "return the sum of one or more numbers"
    reslist = [first] + [value for value in args]
    print(reslist)
    return sum(reslist)

In [ ]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

Arbitrary numbers of named arguments can also be accepted using `**`. When the function is called all of the additional named arguments are provided in a dictionary

In [ ]:
def namedArgs(**names):
    'print the named arguments'
    # names is a dictionary of keyword : value
    print("  ".join(name+"="+str(value) 
                    for name,value in names.items()))

namedArgs(x=3*4,animal='mouse',z=(1+2j))

x=12  animal=mouse  z=(1+2j)

* [Lambda Functions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions): These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword **lambda** followed by the variables, a colon and the respective expression.

In [ ]:
z = lambda x: x * x
z(9)

81

### Classes

In [ ]:
class Dog:
    """Represents a dog."""
    def __init__(self, name):
        self.name = name
        
    def sit(self):
        print(self.name, 'is sitting.')

   # def  roll(self):
      
      # complete here
        
dog = Dog('Lucky')
dog2 = Dog('Walt')

In [ ]:
dog.sit()
dog2.sit()

Lucky is sitting.
Walt is sitting.

## Function and Classes exercise
Write a class `Cat` with an init function that takes `breed` as argument and sets the same attribute.

If the `breed` argument is neither 'Balinese' nor 'Bengal', an error statement is to be printed.

Give the cat a function `pet()`: If the cat is balinese, print 'meow', if the cat is bengal, print 'purr'.

In [ ]:
### BEGIN SOLUTION
class Cat:
    
    def __init__(self, breed):
        assert breed in ['Balinese', 'Bengal'], 'breed not understood'
        self.breed = breed
        
    def pet(self):
        if self.breed == 'Balinese':
            print('meow')
        elif self.breed == 'Bengal':
            print('purr')
        else:
            print('??')
### END SOLUTION

Create a class `CrazyCatLady` which initializes without arguments an attribute `cats`, which is a list of 5 balinese and 10 bengal cats.

Create a class-function `throw`, which removes one cat from her set of cats.

Create a class-function `talk_to_cats`, which returns a dictionary of her remaining cats with keys being random names and values being the corresponding cat.

In [ ]:
import random
### BEGIN SOLUTION
class CrazyCatLady:
    
    cat_names = ['Oscar', 'Max', 'Tiger', 'Sam', 'Misty', 'Simba', 
                 'Coco'	, 'Chloe', 'Lucy' ,  'Missy', 'Molly', 'Tigger', 
                 'Smokey', 'Milo', 'Cleo']
    
    def __init__(self):
        self.cats = 5*[Cat('Balinese')] + 10*[Cat('Bengal')]
    
    def throw(self):
        self.cats.pop()
    
    def talk_to_cats(self):
       return {n: cat for n, cat in zip(random.choices(self.cat_names, k=len(self.cats)), self.cats)}
        
### END SOLUTION
ccl = CrazyCatLady()
ccl.throw()
ccl.throw()
ccl.talk_to_cats()

{'Cleo': <__main__.Cat at 0x7fd6c75e8730>,
 'Tigger': <__main__.Cat at 0x7fd6c75e85e0>,
 'Molly': <__main__.Cat at 0x7fd6c75e8730>,
 'Oscar': <__main__.Cat at 0x7fd6c75e8730>,
 'Smokey': <__main__.Cat at 0x7fd6c75e8730>,
 'Sam': <__main__.Cat at 0x7fd6c75e8730>,
 'Chloe': <__main__.Cat at 0x7fd6c75e8730>,
 'Coco': <__main__.Cat at 0x7fd6c75e8730>}

### Numerical computing

Matrix Multiplication.
Program the multiplication of the matrices with `for` loops:

In [ ]:
A = [
    [1, 2, 3],
    [4, 5, 6],
]
B = [
    [7, 8],
    [9, 10],
    [11, 12],
]
C = [
    [0, 0],
    [0, 0],
]

# C = A * B
for i, a_ in enumerate(A):
    for a, b_ in zip(a_, B):
        for j, b in enumerate(b_):
            C[i][j] += a * b

C

[[58, 64], [139, 154]]

In [ ]:
import numpy as np
np.matmul(A, B)

array([[ 58,  64],
       [139, 154]])

## Mathematical functions
Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant $\pi$ and so on.

In [ ]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

## Simplifying Arithmetic Operations
[**round( )**](https://docs.python.org/3/library/functions.html#round) function rounds the input value to a specified number of places or to the nearest integer. 

```
# This is formatted as code
```

In [ ]:
print( round(5.6231) )
print( round(4.55892, 2) )

6
4.56

#### Other special (in-built) functions

* To find the length of the list or the number of elements in a list, [**len( )**](https://docs.python.org/3/library/functions.html#len) is used.
* If the list consists of all integer elements then [**min( )**](https://docs.python.org/3/library/functions.html#min) and [**max( )**](https://docs.python.org/3/library/functions.html#max) gives the minimum and maximum value in the list. Similarly [**sum**](https://docs.python.org/3/library/functions.html#sum) is the sum
* [**append( )**](https://docs.python.org/3.6/tutorial/datastructures.html) is used to add a single element at the end of the list.
*

#### [List comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)
A very powerful concept in Python (that also applies to Tuples, sets and dictionaries as we will see below), is the ability to define lists using list comprehension (looping) expression. For example:

In [ ]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [ ]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and  j larger than i+3 only

[15, 17, 37]

### [Catching exceptions](https://docs.python.org/3/reference/compound_stmts.html#try)

To break out of deeply nested exectution sometimes it is useful to raise an exception.
A try block allows you to catch exceptions that happen anywhere during the execution of the try block:

In [ ]:
try:
    count=0
    while True:
        while True:
            while True:
                print("Looping")
                count = count + 1
                if count > 3:
                    raise Exception("abort") # exit every loop or function
except Exception as e: # this is where we go when an exception is raised
    print("Caught exception:",e)

Looping
Looping
Looping
Looping
Caught exception: abort

In [ ]:
try:
    for i in [2,1.5,0.0,3]:
        inverse = 1.0/i
except: # no matter what exception
    print("Cannot calculate inverse")

Cannot calculate inverse